@charset "UTF-8";
/*清除所有元素内外边距*/
*{
	padding: 0px;
	margin: 0px;
}
/*设置所有图片宽度100%*/
img {
	width: 100%;
	
}

header {
	background: #eee;
}

footer {
	background: #ddd;
	clear: both
}

main {
	width: 1200px;
	margin: auto;
}

#content-left {
	background: #aaa;
	width: 900px;
	float: left
}

#content-right {
	background: #999;
	width: 290px;
	float: right
}
/*******页头*********/
header>div {
	background: #000;
	color: #fff
}

header>div>div {
	width: 1200px;
	margin: auto
}
/*设定div 所有内部元素垂直居中*/
header>div>div>* {
	vertical-align: middle
}

header span {
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	display: inline-block;
}

header>img {
	display: block;
}

.right {
	float: right;
}

header span:hover {
	background: #999
}

header input {
	width: 200px;
	background: #000;
	color: #fff;
	border-width: 0px 0px 2px;
	padding: 15px 0px 10px;
	background: url(../imgs/icon/search.png) no-repeat right center
}

.tj {
	border-radius: 5px;
	overflow: hidden
}

.tj>div:nth-child(1) {
	height: 300px;
	overflow: hidden
}

.tj>div:nth-child(2) {
	background: #000;
	color: #fff;
	padding: 10px
}

main {
	margin: 10px auto;
}

#content-left {
	background-color: inherit;
}
/****小******/
.xiao {
	width: 290px;
}

.xiao>div:nth-child(1) {
	height: 150px;
}

.left {
	float: left;
}

.tj:nth-child(4) {
	margin: 5px auto;
}

.xiao {
	margin: 5px 0px;
}
/***************下载******************/
.xz {
	overflow: hidden;
	background-color: #fff;
	
}
.xz>div>img{
	width:40%;
	height:40%;
	margin:18px 18px;
	border-radius: 5px;
	overflow: hidden;
	float:left;
}
.xz>div:nth-child(2){
	margin:18px 4px;
	display:inline-block;
	font:bold;
	font-weight: bold;
	font-size: large;
}
.xz>div:nth-child(3){
	background-color: #eee;
	display:inline-block;
	margin:4px;
	font-size: small;
	color:#708090;
	text-indent:2em;
	border:solid #000;
	border-top:0px;
	border-bottom:0px;
	padding:10px;
	line-height: 1.8em;
}
/*****************博主信息*******************/
#content-right{
	background-color: inherit;
}
#bzinfo{
	text-align: center;
}
#bzinfo>img:nth-child(2){
	width:100px;
	border-radius: 50%;
	margin-top: -55px;
	box-shadow: 2x 2px 2px #888
	
}
#bzname{
	font-size: 1.1em;
	font-weight: bold;
}
#bzname>*{
	vertical-align: middle;
}
#bzname>img{
	width:auto;
	transform:rotate(45deg);
}
#bzdesc{
	text-align: left;
}
#bzdesc>.label{
	width:70px;
	display:inline-block;
}
#bzdesc{
	padding:20px;
}
#bzdesc>label{
	font-family: 微软雅黑;
	font-size:0.7em;
	padding:5px
}
#bzinfo>hr{
	margin:0px 20px;
}
#bzinfo>div:nth-child(6){
	background-color: #000;
	color:#fff;
	font-family: 微软雅黑;
	font-size: 0.7em;
	
}
#bzinfo>div>span{
	display:inline-block;
	padding:10px;
	margin: auto 10px;
}
.alist>div>span{
	margin:10px 10px 10px 0px;
	border:0px 0px 0px solid 
}
body{
	background-color: #eee;
}
/***************文章******************/
.alist{
	font-size:0.7em;
	width:440px;
	clear:both
}
.alist>div>span{
	margin:10px 10px 10px 0px;
}
.alist>div>span:nth-child(1){
	border-left:green 3px solid;
	padding:5px;
}
.alist>table{
	clear:both;
	width:100%;
	border-top:1px #ddd solid;
}
.alist>table td{
	padding:5px;
	border-bottom:1px #eee dashed;
}
a{
	text-decoration: none;
	color:#666;
	font-family: 宋体
}
body{
	background-color: #eee	
}
#content-left>div,#content-right>div{
	background: #f8f8f8;
	margin-bottom:10px;
	border-radius:5px;
}